<form action="/prehistoric_creatures" method="POST">
    <label for="prehistoricCreatureType">Type</label>
    <input type="text" id="prehistoricCreatureType" name="type">

    <label for="prehistoricCreatureImgUrl">Image URL</label>
    <input type="text" id="prehistoricCreatureImgUrl" name="img_url">
    <input type="submit" value="Add Creature">
</form>